# Mac
.DS_Store
*/.DS_Store
*/**/.DS_Store

# Ignore thumbnails created by windows
Thumbs.db


# Ignore python compiled files
*.pyc
*/*.pyc
*/**/*.pyc


# Ignore files built by pyCharm
.idea/

# Ignore generated src,token
working/sa-train-10000/*
working/sa-test-trueC/*
!working/sa-train-10000/vocab.pkl
!working/sa-train-10000/instances.npy
!working/sa-train-10000/models/
!working/sa-test-trueC/src/